## CHI Square Test

In [2]:
import scipy.stats as stats

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
dataset = sns.load_dataset('tips')

In [5]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [8]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [15]:
## Observed values 
Observed_Values = dataset_table.values
print("observed values :-\n", observed_values)

observed values :-
 [[60 97]
 [33 54]]

In [16]:
val =stats.chi2_contingency(dataset_table)
val

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [17]:
Expected_Values=val[3]

In [18]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_columns = len(dataset_table.iloc[0,0:2])
dof = (no_of_rows-1)*(no_of_columns-1)
print("Degree of freedom:-",dof)
alpha=0.05

Degree of freedom:- 1

##

##                        X^2 = sum(o-e)^2/e

In [20]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2/e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic = chi_square[0] + chi_square[1]

In [22]:
print("chi_sqaure statistic :-",chi_square_statistic)

chi_sqaure statistic :- 0.001934818536627623

In [23]:
critical_value = chi2.ppf(q=1-alpha,df = dof)
print("critical_value :-",critical_value)

critical_value :- 3.841458820694124

In [25]:
## P-value
p_value = 1-chi2.cdf(x=chi_square_statistic,df=dof)
print("p-value :",p_value)
print("significant level :", alpha)
print("Degree of freedom :",dof)
print("p-value :",p_value)

p-value : 0.964915107315732
significant level : 0.05
Degree of freedom : 1
p-value : 0.964915107315732

In [26]:
if chi_square_statistic>=critical_value:
    print("Reject H0, there is a reletionship between 2 categorial variables")
else:
    print("Retain H0, there is no relationship between 2 categorial variables")

if p_value<=alpha:
    print("Reject H0, there is a reletionship between 2 categorial variables")
else:
    print("Retain H0, there is no relationship between 2 categorial variables")

Retain H0, there is no relationship between 2 categorial variables
Retain H0, there is no relationship between 2 categorial variables